<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pali</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Palindrome</h1>
  <section>
    <input type="text" placeholder="Enter text here"></input>
    <button type="button">Check</button>
  </section>
  <h2 class="message"></h2>
  <h2 class="message2"></h2>
  <h2 class="message3"></h2>
</body>
<script src="main.js"></script>


</html>